.howItWorksSection {
  padding-bottom: 80px;

  .statsRow {
    text-align: center;
    margin-bottom: 2rem;
  }

  .stat {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1rem;
      color: #000000;
    }
  }

  .left {
    padding-bottom: 50px;

    h3 {
      font-size: 30px;
    }

    hr {
      width: 150px;
      height: 5px;
      border: none;
      background-color: $color_1;
      opacity: 1;
    }
  }
}

.right {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;

  h2 {
    text-align: center;
  }
}
