.sectionHead {
  padding: 50px 0;
  text-align: center;
  position: relative;

  h1 {
    font-size: 50px;
    font-weight: 800;
  }

  hr {
    margin: 0 auto;
    width: 140px;
    height: 6px;
    border: none;
    opacity: 1;
  }

  &.v1 {
    h1 {
      color: $color_1;
    }

    hr {
      background-color: $color_2;
    }
  }
  &.v2 {
    h1 {
      color: $color_2;
    }

    hr {
      background-color: white;
    }
  }
  &.v3 {
    h1 {
      color: white;
    }

    hr {
      background-color: $color_1;
    }
  }
}
