.clientSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
  max-width: 1240px;

  @include respond-below(md) {
    margin-top: 2.5rem;
  }

  .introText {
    text-align: center;
    color: $color_1;
    margin-top: 1rem;

    @include respond-below(md) {
      width: 100%;
    }

    p {
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }

  .subHeading {
    align-self: start;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 600;
    color: $color_1;

    @include respond-below(md) {
      margin-top: 1.5rem;
    }
  }

  .clientsGrid {
    display: flex;
    flex-wrap: wrap; /* Allow logos to wrap on larger screens */
    justify-content: space-between;
    margin-top: 4rem;
    width: 100%;
    min-height: 953px;

    @include respond-below(md) {
      flex-direction: column;
      margin-top: 1.5rem;
    }
  }

  .clientLogo {
    overflow: hidden;
    padding-bottom: 2.5rem;
    width: calc(33.333% - 1.25rem);

    @include respond-below(md) {
      width: 100%;
      padding-bottom: 1.5rem;
    }

    .logoContainer {
      display: flex;
      gap: 1.25rem;

      @include respond-below(md) {
        flex-direction: column;
      }
    }

    .logoItem {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;

      @include respond-below(md) {
        width: 100%;
      }
    }

    .logoImage {
      width: 100%; /* Ensures the image fills the container */
      height: auto; /* Ensures the image keeps its aspect ratio */
      max-width: 600px; /* Increased to make the image fuller */
      object-fit: contain; /* Ensures the entire image is shown without distortion */

      /* Optionally, you can tweak these values to make the image larger on mobile */
      @include respond-below(md) {
        max-width: 400px; /* Reduce size for smaller screens */
      }
    }
  }

  .callToAction {
    margin-top: 5rem;
    text-align: center;
    color: $color_1;

    @include respond-below(md) {
      margin-top: 2rem;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }

    p {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }
}
