.marqueeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: $color_2;
  box-shadow: 0 0 11px rgba(0, 255, 0, 1); // Glowing shadow effect.
  text-shadow: 0 0 11px rgba(0, 255, 0, 1); // Glowing text effect.
  background-color: black;
  overflow: hidden;
  max-width: 100%; // Full width of the container.

  @include respond-below(md) {
    padding: 1rem; // Adjust padding for smaller screens.
  }

  @include respond-above(md) {
    padding: 2rem; // Larger padding for bigger screens.
  }
}

.marqueeWrapper {
  width: 100%;
  overflow: hidden; // Prevents overflow outside the container.
}

.marqueeContent {
  display: flex;
  align-items: center;
  gap: 1rem; // Space between items.
  font-size: 1rem;
  animation: marquee 25s linear infinite; // Marquee animation.

  @include respond-below(md) {
    gap: 0.5rem; // Smaller gap on mobile.
    font-size: 0.7rem;
    animation: marquee 20s linear infinite; // Faster animation on smaller screens.
  }

  @include respond-above(md) {
    gap: 1.5rem; // Larger gap on bigger screens.
    font-size: 1.1rem;
    animation: marquee 30s linear infinite; // Slower animation on larger screens.
  }
}

.marqueeItem {
  display: flex;
  align-self: stretch;
  margin: auto 0;
}

.marqueeImage {
  object-fit: contain; // Maintain aspect ratio.
  flex-shrink: 0;
  align-self: stretch;
  margin: auto 0;
  width: 0.75rem;
  aspect-ratio: 1;

  @include respond-below(md) {
    width: 0.5rem; // Smaller image on mobile.
  }

  @include respond-above(md) {
    width: 1rem; // Larger image on larger screens.
  }
}

// Keyframe animation for the marquee effect.
@keyframes marquee {
  0% {
    transform: translateX(100%); // Start offscreen from the right.
  }
  100% {
    transform: translateX(-100%); // Move fully offscreen to the left.
  }
}
