.featureCard {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;

  @include respond-below(md) {
    flex-direction: column;
  }

  &.reverse {
    flex-direction: row-reverse;

    @include respond-below(md) {
      flex-direction: column;
    }
  }

  .image {
    width: 50%;
    object-fit: contain;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    @include respond-below(md) {
      width: 100%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @include respond-below(md) {
      width: 100%;
      text-align: center;
    }

    .title {
      font-size: 1.75rem;
      font-weight: 600;

      @include respond-below(md) {
        font-size: 1.5rem;
      }
    }

    .description {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #333;
    }
  }
}
