.customInput {
  padding: 10px; // Base padding for the textarea

  &.v1 {
    border: none;
    border: 2px solid rgb(190, 190, 190); // Light gray border
    outline: none;
    border-radius: 5px; // Rounded corners

    &:active,
    &.focus,
    &:focus-visible,
    &:hover {
      border: 2px solid $color_1; // Change border color on focus/hover
    }
  }
}
