.whyChooseUs {
  margin-top: 2rem;
  background-color: rgb(237, 237, 237);
  margin-bottom: 3rem;

  .heading {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: $color_1;

    @include respond-below(md) {
      font-size: 2rem;
    }
  }
}
