.loading {
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
}

.app {
  max-width: 100vw;
  overflow: hidden;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 100vw;
  background-color: white;
  flex-direction: column;
  >div{
    display: flex;
    gap: 10px;
    // background-color: red;
    margin-top: -40px;
  }
  animation: fade 3.5s forwards linear;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0.01;
  }
}
