.contactForm {
  background-color: $color_2;
  padding: 40px;
  border-radius: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);

  @include respond-below(md) {
    padding: 20px;
    max-width: 100%;
  }

  h2 {
    text-align: center;
    font-size: 32px;
  }

  .formRow {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    @include respond-below(md) {
      flex-direction: column;
    }

    input,
    select,
    textarea {
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #ccc;
      width: 100%;
    }
  }

  .formRowInline {
    display: flex;
    align-items: center; /* Align label and textarea vertically */
    gap: 20px;
    margin-top: 20px;

    @include respond-below(md) {
      flex-direction: column;
    }

    label {
      width: 30%; /* Adjust this value to control label width */
      font-size: 16px;
    }

    textarea {
      flex-grow: 1; /* Let textarea fill the remaining space */
      height: 120px;
    }
  }

  button {
    background-color: $color_1;
    color: $color_2;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($color_1, 10%);
    }

    &:active {
      transform: scale(0.98);
    }
  }

  p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
}
