.aboutScreen {
  padding: 50px 0;

  .caption {
    color: rgb(56, 56, 56);
    text-align: center;
  }

  .bannerLeftContent {
    p {
      font-size: 16px;
      color: rgb(56, 56, 56);

      a {
        color: $color_2; // Assuming $color_2 is a defined SCSS variable.
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    h1 {
      font-size: 40px;
      color: $color_1;
      margin-bottom: 20px;

      @include respond-below(md) {
        font-size: 32px; // Smaller font size for mobile screens.
      }
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      color: #333;

      @include respond-below(md) {
        font-size: 16px;
      }
    }
  }

  .bannerRightImgSec {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      border: 4px solid $color_1;
    }

    @include respond-below(md) {
      margin-top: 20px;
    }
  }

  /* Additional sections */
  .missionValuesSection {
    margin-top: 1.2rem;

    @include respond-below(md) {
      margin-top: 2.5rem;
      margin-right: 0.25rem;
    }

    .valuesContainer {
      display: flex;
      gap: 1.25rem;

      @include respond-below(md) {
        flex-direction: column; // Stack items on smaller screens.
      }
    }

    .valueItem {
      flex: 0 0 50%;

      @include respond-below(md) {
        width: 100%;
      }
    }

    .valueContent {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: $color_1;

      @include respond-below(md) {
        margin-top: 1.5rem;
      }

      .valueHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 500;
        gap: 1rem;
        padding-bottom: 0.5rem;
      }

      .iconBlock {
        display: inline-block;
        padding-right: 0.5rem;

        .valueIcon {
          width: 3rem;
          object-fit: contain;
        }
      }

      .titleBlock {
        font-size: 1.25rem;
        font-weight: 600;
      }

      .valueDescription {
        margin-top: 1rem;
        font-size: 1rem;
        color: #333;
      }
    }
  }
}
