.aboutSection {
  padding-top: 30px;
  padding-bottom: 10px;

  .left {
    padding-bottom: 30px;

    h3 {
      font-size: 30px;
    }

    hr {
      width: 150px;
      height: 5px;
      border: none;
      background-color: $color_1;
      opacity: 1;
    }
  }

  .img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
      height: 100%; // Make image stretch
      width: auto; // Keep the image's aspect ratio
    }
  }

  // Wrap the left content and the image in a flex container
  .row {
    display: flex;
    align-items: stretch; // Stretch both sides to the same height
  }

  @include respond-below(md) {
    .img {
      padding: 0;
    }
  }
}
