.aboutSection {
  padding-top: 30px;
  padding-bottom: 10px;

  .left {
    // display: flex;
    // flex-direction: column;
    // gap: 20px;
    padding-bottom: 30px;

    h3 {
      font-size: 30px;
    }

    hr {
      width: 150px;
      height: 5px;
      border: none;
      background-color: $color_1;
      opacity: 1;
    }
  }

  .img {
    > img {
      margin-bottom: 20px;
    }
    .logos {
      display: flex;
      justify-content: space-around;
      img {
        width: 48%;
      }
    }
  }

  @include respond-below(md) {
    .img {
      padding: 0;
    }
  }
}
