.serviceBlock {
  background-color: #f3f3f3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @include respond-below(md) {
    width: 100% !important;
    margin-top: 10px;
  }
}
