.joinTeam {
  // display: flex;
  // flex-direction: column;
  // align-self: center;
  // margin-top: 4rem;
  // width: 100%;
  // max-width: 1237px;
  background-color: $color_1;
  padding-bottom: 100px;

  @include respond-below(md) {
    margin-top: 2.5rem;
    max-width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title {
    align-self: flex-start;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 500;
    color: $color_1;

    @include respond-below(md) {
      margin-top: 2.5rem;
      text-align: center;
      align-items: center;
    }
  }

  .joinContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 4rem 2.75rem;
    margin-top: 3.5rem;
    width: 100%;
    background-color: $color_2;
    max-width: 1070px;
    min-height: 200px;

    @include respond-below(md) {
      padding: 2.5rem 1.25rem;
      margin-top: 2.5rem;
      max-width: 100%;
    }

    .joinInfo {
      display: flex;
      flex-wrap: wrap;
      gap: 2.5rem;
      align-items: center;

      @include respond-below(md) {
        max-width: 100%;
        text-align: center;
        align-items: center;
      }

      .joinIcon {
        display: flex;
        gap: 0.625rem;
        align-items: center;
        background-color: white;
        border-radius: 9999px;
        height: 42px;
        min-height: 42px;
        width: 42px;
        padding: 0.625rem;

        .iconImage {
          width: 1.5rem;
          aspect-ratio: 1;

          @include respond-below(md) {
            margin: 0 auto;
          }
        }
      }

      .joinText {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5rem;
        align-items: center;
        min-width: 240px;

        @include respond-below(md) {
          max-width: 100%;
          text-align: center;
        }

        .description {
          flex-grow: 1;
          font-size: 1rem;
          color: $color_1;
          max-width: 663px;

          @include respond-below(md) {
            max-width: 100%;
          }
        }

        .joinButton {
          padding: 0 2.25rem;
          font-size: 1.5rem;
          font-weight: 600;
          color: $color_2;
          background-color: $color_1;
          min-height: 48px;
          width: 179px;

          @include respond-below(md) {
            padding: 0 1.25rem;
            width: auto;
          }
        }
      }
    }
  }
}
