.heroNews {
  padding: 50px 0;

  @include respond-below(md) {
    padding: 30px 0;
  }

  .heroSection {
    text-align: center;
    margin-bottom: 50px;

    .heroText {
      font-size: 1rem;
      color: $color_1;

      @include respond-below(md) {
        font-size: 0.875rem;
      }
    }
  }

  .newsCard {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include respond-below(md) {
      flex-direction: column;
    }

    .cardContent {
      display: flex;
      gap: 20px;

      @include respond-below(md) {
        flex-direction: column;
      }

      .imageWrapper {
        flex: 1;

        .newsImage {
          width: 100%;
          height: auto;
          border-radius: 8px;
          box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.11);
        }
      }

      .newsContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .newsTitle {
          font-size: 1.875rem;
          font-weight: 600;
          color: $color_1;

          @include respond-below(md) {
            font-size: 1.5rem;
          }
        }

        .newsDescription {
          font-size: 1rem;
          margin-top: 15px;
          color: $color_1;
        }

        .knowMoreButton {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1rem 2rem;
          background-color: $color_2;
          border-radius: 8px;
          font-size: 1.25rem;
          font-weight: 500;
          color: white;
          cursor: pointer;
          margin-top: auto;

          @include respond-below(md) {
            font-size: 1rem;
            padding: 0.875rem 1.5rem;
          }

          .arrowIcon {
            width: 48px;
            height: 48px;

            @include respond-below(md) {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}
