.blob {
  position: absolute;
  z-index: -1;
  // background-color: red;
  &.blob1 {
    width: 100vw;
    right: -500px;
    top: -400px;

    @include respond-below(md) {
      top: 200px;
      right: -100px;
      transform: scale(1.5);
      width: 70vw;
    }
    @include respond-below(sm) {
      top: 200px;
      right: -100px;
      width: 100vw;
      transform: scale(1.5);
      transform: scale(3);
    }
  }
  &.blob2 {
    width: 100vw;
    right: -500px;
    top: -400px;

    @include respond-below(md) {
      top: 200px;
      right: -100px;
      transform: scale(1.5);
      width: 70vw;
    }

    @include respond-below(sm) {
      right: -100px;
      top: 200px;
      right: -100px;
      width: 100vw;
      transform: scale(2);
    }
  }
}
